{% extends 'base.html' %}
{% load tags %}
{% load static %}
<body>
{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Blog</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Blog</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="blog__sidebar">
                        <form action="" method="GET">
                            <div class="blog__sidebar__item">
                                <h4>Filter by categories</h4>
                                <label for="categories"></label>

                                <select name="category" id="categories">
                                    <option value="">All</option>
                                    {% for category in post_categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <div class="blog__sidebar__search">
                                <h4>Search</h4>
                                <input type="text" placeholder="Search" name="heading">
                                <button type="submit"><span class="icon_search"></span></button>
                            </div>

                        </form>
                        <div class="blog__sidebar__item">
                            <h4>Recent News</h4>
                            <div class="blog__sidebar__recent">
                                {% for post in posts_by_date %}
                                <a href="{% url 'post' post.id %}" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6> {{ post.heading|truncatechars:40 }} </h6>
                                        <span>{% format_date post.created_at %}</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-7">
                    <div class="row">
                        {% for post in page %}
                        <div class="col-lg-6 col-md-6 col-sm-6">

                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="{{ post.picture.url }}" style="object-fit:contain;" alt="">
                                </div>
                                <div class="blog__item__text">
                                    <ul>
                                        <li><i class="fa fa-calendar-o"></i> {% format_date post.created_at %}</li>
<!--                                        <li><i class="fa fa-comment-o"></i> 5</li>-->
                                    </ul>
                                    <h5><a href="{% url 'post' post.id %}">{{ post.heading }}</a></h5>
                                    <p> {{ post.content }} </p>
<!--                                    <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>-->
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-lg-12">
                            {% if page %}
                                {% include "pagination.html" %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

{% endblock %}

</body>

</html>