{% extends 'base.html' %}
{% load tags %}
{% load static %}
<body>
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{ product.name }}</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <a href="./index.html">Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="{{ product.image.url }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ product.name }}</h3>
                        <div class="rating-star">
                            <span>
                                <i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review >= 0.5 and product.average_review < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review >= 1.5 and product.average_review < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review >= 2.5 and product.average_review < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review >= 3.5 and product.average_review < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review >= 4.5 and product.average_review < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                                <span>{{product.count_reviews}} reviews</span>
                                </span>
                        </div>
{#                        <div class="product__details__rating">#}
{#                            <i class="fa fa-star"></i>#}
{#                            <i class="fa fa-star"></i>#}
{#                            <i class="fa fa-star"></i>#}
{#                            <i class="fa fa-star"></i>#}
{#                            <i class="fa fa-star-half-o"></i>#}
{#                            <span>(18 reviews)</span>#}
{#                        </div>#}
                        <div class="product__details__price">${{ product.current_price }}</div>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <span data-product="{{ product.id }}" data-action="decrement" class="dec qtybtn update-cart">-</span>
                                    <input type="text" value="{{ product.quantity }}">
                                    <span data-product="{{ product.id }}" data-action="add" class="inc qtybtn update-cart">+</span>
                                </div>
                            </div>
                        </div>
                        <a data-product="{{product.id}}" data-action="add" class="primary-btn update-cart">ADD TO CART</a>
                        <a data-product="{{ product.id }}" data-action="like" class="heart-icon like-product qtybtn"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Availability</b> {% if product.in_stock %}<span>In Stock</span>{% else %}<span style="color: red">Not in Stock</span>{% endif %}</li>
                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Reviews <span>({{product.count_reviews}})</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Information</h6>
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <div class="col-lg-8">
                                        <h6>Reviews</h6>
                                        {% for review in reviews %}
                                            <span>{{ review.customer.username }}, on {% format_date review.date_written True %}</span>
                                            <div class="rating-star">
                                                <span>
                                                    <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                                                    <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                                                    <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                                                    <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                                                    <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            <p>{{ review.review }}</p>
                                        {% endfor %}
                                        {% if not user.is_authenticated %}
                                            <p>Please <a href="{% url 'login' %}">login</a> to submit a review.</p>
                                        {% else %}
                                            <form action="{% url 'product_details' product.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="rate">
                                                    <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
                                                    <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
                                                    <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
                                                    <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
                                                    <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
                                                    <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
                                                    <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
                                                    <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
                                                    <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
                                                    <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
                                                </div>
                                                <textarea cols="30" rows="7" class="form-control" id="{{ review_form.review.id_for_label }}" name="{{ review_form.review.html_name }}"></textarea>
{#                                                {{ review_form.review }} #}
                                                <br>
                                                <button type="submit" class="primary-btn">Submit</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if not related_products %}
                <div class="col-lg-12">
                    <div class="text-center">
                        <h4>No other products in this category yet...</h4>
                    </div>
                </div>
                {% endif %}
                {% for product in related_products %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{ product.image.url }}">
                            <ul class="product__item__pic__hover">
                                <li><a data-product="{{ product.id }}" data-action="like" class="like-product"><i class="fa fa-heart"></i></a></li>
                                <li><a data-product="{{ product.id }}" data-action="add" class="update-cart"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="{% url 'product_details' product.id %}">{{ product.name }}</a></h6>
                            <h5>${{ product.current_price }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->
{% endblock %}

</body>

</html>