{% extends 'base.html' %}
{% load tags %}
{% load static %}
<body>
{% block content %}


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Organi Shop</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item shop-grid__controls">
                        <form class="sidebar_categories_filter" action="" method="GET">
                            <h4>Filter by categories</h4>
                            {{ filtered_products.form.category }} <br> <br>
                            <div class="sidebar__item">
                                <h4>Price</h4>
                                <div class="price-range-wrap">
                                    <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                         data-min="{{ filtered_products.price_min }}"
                                         data-max="{{ filtered_products.price_max }}">
                                        <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                        <span tabindex="0"
                                              class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                        <span tabindex="0"
                                              class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    </div>
                                    <div class="range-slider">
                                        <div class="price-input">
                                            <input type="text" id="minamount" name="price__gt">
                                            <input type="text" id="maxamount" name="price__lt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input class="site-btn" type="submit" value="Filter">
                        </form>
                    </div>


                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Latest Products</h4>
                            <div class="latest-product__slider owl-carousel">
                                {% for products_grouped in products_sorted_by_date|subdivide:"3,-1" %}
                                <div class="latest-prdouct__slider__item">
                                    {% for product in products_grouped %}
                                    <a href="{% url 'product_details' product.id %}" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="{{ product.image.url }}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>{{ product.name }}</h6>
                                            <span>${{ product.price }}</span>
                                        </div>
                                    </a>
                                    {% endfor %}
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Sale Off</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            {% for product in products_with_discount %}
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                         data-setbg="{{ product.image.url }}">
                                        <div class="product__discount__percent">-{{ product.discount_rate|stringformat:"d" }}%
                                        </div>
                                        <ul class="product__item__pic__hover">
                                            <li><a data-product="{{ product.id }}" data-action="like" class="like-product"><i class="fa fa-heart"></i></a></li>
                                            <li><a data-product="{{product.id}}" data-action="add" class="update-cart"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>{{ product.category }}</span>
                                        <h5><a href="{% url 'product_details' product.id %}">{{ product.name }}</a></h5>
                                        <div class="product__item__price">${{product.current_price }}
                                            <span>${{ product.price }}</span></div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="section-title product__discount__title">
                            <h2>All products</h2>
                        </div>
                    </div>
                </div>
                <div class="row shop-grid__filter">
                    {% for product in page %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item ">
                            <div class="product__item__pic set-bg" data-setbg="{{ product.image.url }}">
                                <ul class="product__item__pic__hover">
                                    <li><a data-product="{{ product.id }}" data-action="like" class="like-product"><i class="fa fa-heart"></i></a></li>
                                    <li><a data-product="{{product.id}}" data-action="add" class="update-cart"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="{% url 'product_details' product.id %}">{{ product.name }}</a></h6>
                                <h5>${{ product.price }}</h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% include "pagination.html" %}
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->


{% endblock %}

</body>

</html>